body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4A37B1; /* Warna ungu dari desain */
}

.logo {
    width: 129px; /* Ukuran dari desain */
    height: 104px;
}
